/* Error-Page */
/* ---------- */
.error_h1{
    text-align: center;
    font-size: 80px;
}

.error_p{
    text-align: center;
    font-size: 30px;
}

.error_img{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.error_img img{
    width: 480px;
}


/* Main Styles */
/* ----------- */
button.kijs-button > .kijs-caption{
    font-size: 14px;
    font-weight: bold;
}

div.kijs-spinbox {
    width: inherit !important;
    min-width: inherit !important;
    height: inherit !important;
    z-index: 100000;
}

div .kijs-dataview .kijs-dataviewelement{
    width: 350px;
}

.kijs-dataview .kijs-dataviewelement .outerdiv{
    display: inline-block;
    width: 210px;
    margin-left: 4px;
    margin-top: 4px;
}

.kijs-dataview .kijs-dataviewelement .outerdiv div{
    margin-top: 2px;
}

.kijs-dataview .kijs-dataviewelement .label{
    font-size: 13px;
    font-weight: bold;
}

.kijs-dataview .kijs-dataviewelement .value{
    font-size: 13px;
}

.kijs-dataview .kijs-dataviewelement .portrait{
    height: 120px;
    float: right;
    margin-left: 5px;
    vertical-align: top;  
}