div.kijs-spinbox {
    width: inherit !important;
    min-width: inherit !important;
    height: inherit !important;
    z-index: 100000;
}

div .kijs-dataview .kijs-dataviewelement{
    width: 350px;
}

.kijs-dataview .kijs-dataviewelement .outerdiv{
    display: inline-block;
    width: 210px;
    margin-left: 4px;
}

.kijs-dataview .kijs-dataviewelement .label{
    font-size: 12px;
    font-weight: bold;
}

.kijs-dataview .kijs-dataviewelement .value{
    font-size: 12px;
}

.kijs-dataview .kijs-dataviewelement .portrait{
    height: 120px;
    float: right;
    margin-left: 5px;
    vertical-align: top;  
}