div.kijs-spinbox {
    width: inherit !important;
    height: inherit !important;
}

div .kijs-dataview .kijs-dataviewelement{
    width: 240px;
}

.kijs-dataview .kijs-dataviewelement .outerdiv{
    display: inline-block;
    width: 130px;
}

.kijs-dataview .kijs-dataviewelement .outerdiv div{
    margin: 2px 0 2px 0;
}

.kijs-dataview .kijs-dataviewelement .portrait{
    height: 90px;
    float: right;
    margin-left: 5px;
    vertical-align: top;  
}