<!DOCTYPE html>


    <head>
        <title>Error 500</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/idcardmanager.Styles.css">
    </head>
    <body>
        <h1 class="error_h1">Error 500</h1>
        <p class="error_p">Beim Drucken der Personalausweise ist ein unerwarteter Fehler aufgetreten!</p>
        <p class="error_p">Konsultieren Sie die Logdatei für Details.</p>
        <div class="error_img"><img src="../img/error.png" alt="Bild fehlt!"></div>
    </body>

